<footer class="bg-dark">
    <div class="container-xxl bg-dark">
        <div class="row mx-0 pt-5 px-sm-3 px-lg-5">
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class=" text-uppercase mb-4" style="letter-spacing: 3px;">Ponte en contacto</h4>
                <p><i class="fa fa-phone-alt mr-2"></i> +51 987705770</p>
                <p class="m-0"><i class="fa fa-envelope mr-2"></i> brannypaolo12@gmail.com</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-uppercase mb-4" style="letter-spacing: 3px;">Siguenos</h4>
                <p>Escribenos, será un gusto poder atenderte</p>
                <div class="d-flex justify-content-start">
                    <a class="btn btn-lg btn-outline-light btn-lg-square mr-2"
                        href="mailto:brannypaolo12@gmail.com"><i class="bi bi-envelope-heart"></i></a>
                    <a class="btn btn-lg btn-outline-light btn-lg-square mr-2"
                        href="https://www.facebook.com/stevencantaro1" target="_blank"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-lg btn-outline-light btn-lg-square mr-2" href="tel:987705770" target="_blank"><i
                            class="bi bi-telephone-fill"></i></a>
                    <a class="btn btn-lg btn-outline-light btn-lg-square" href="https://wa.me/987705770"
                        target="_blank"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class=" text-uppercase mb-4" style="letter-spacing: 3px;">Horario</h4>
                <div>
                    <h6 class=" text-uppercase">Soporte activo las 24 horas</h6>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class=" text-uppercase mb-4" style="letter-spacing: 3px;">SOBRE NOSOTROS</h4>
                <p>Somos una empresa dedicada a la creación de páginas web adecuadas al cliente, el límite está en tu imaginación</p>
            </div>
        </div>
        <div class="container-fluid text-center border-top mt-4 py-4 px-sm-3 px-md-5"
            style="border-color: rgba(256, 256, 256, .1) !important;">
            <p class="mb-2 ">Copyright &copy;<a class="link-item" href="" target="_blank">      Link'S</a> Todos los derechos reservados.</a></p>
            <p class="m-0 ">Desarrollado por Link'S
            </p>
        </div>
    </div>
</footer>